# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/

# Datasets and large generic files (Preventing enormous pushes to Github)
MP_Data/
alexandria_data/
*.csv
*.bz2
*.json
*.txt
*.png

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
